* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


header {
background-color: #3f51b5; /* Indigo header */
color: #fff; /* White text */
padding: 2px 15px;
text-align: center;
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
width: 100%;
z-index: 2;
}
.mandatory{
  color: red;
}

/* Adjust placeholder font size */
.input-boxcon input::placeholder {
font-size: 14px;
/* font-weight: bolder; */
}

.logo img {
max-width: 50px;
height: auto;
}

.college-info {
margin-left: 10px;
text-align: left;
flex-grow: 1;
}
.college-info h1 {
font-size: 1.5rem;
margin-bottom: 0;
color: #fff; /* White text */
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.college-info p {
font-size: 0.8rem;
margin-top: 5px;
color: #ccc; /* Light gray text */
}
body {
  background: url('{{ asset("img/blur_tu.png") }}') no-repeat;
  background-attachment: fixed; /* Ensure background remains fixed */
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the background image */
  /* background-color: #f5f5f5; */
  color: #333;
  height: 100vh;
  position: sticky;
}

.containercon {
  max-width: 600px;
  margin: center;
  padding: 20px;
}
.containercon{
  max-width: 600px;
  margin: center; /* Center horizontally */
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  padding:  20px 20px; /* Add padding to the top */


  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Set height to full viewport height */
}



.headingcon {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.box-containercon {
  background-color: #f9f9f9;
  padding: 50px;
  margin: 70px auto;
  border-radius: 8px;
  margin-bottom: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box-containercon label{
  font-weight: bold;
}

.rowcon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-boxcon {

  flex: 1;
  margin-right: 10px;
}

.input-boxcon:last-child {
  margin-right: 0;
}

.input-box label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-boxcon input[type="text"]{
width: 100%;
  height: 35px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;

}
.error-message {
font-size: 12px; /* Set the font size */
color: red; /* Set the text color to red */

}


.input-boxcon input[type="file"] {
  width: 100%;
  height: 35px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

.input-boxcon input[type="text"]:focus,
.input-boxcon input[type="file"]:focus {
  border-color: #9b59b6;
}

.button-containercon {
  display: flex;
  justify-content: space-between;
}

.back-button{
text-decoration: none;
background-color: #61c5ff;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.next-button {
text-decoration: none;
background-color: #61c5ff;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
float: right; /* Align button to the right */
}


.back-button:hover
{
background-color: #bdd62f;
}
.next-button:hover {
  background-color: #3bff76;
}
/* Add this media query to adjust input box size for smaller screens */
@media only screen and (max-width: 768px) {
.input-boxcon input[type="text"],
.input-boxcon input[type="file"] {
  /* Adjust width of input boxes for smaller screens */
  width: calc(100% 100%); /* Set width to 100% minus padding and border */
  height: 35px; /* Adjust height as needed */
  padding: 0 10px; /* Adjust padding as needed */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border-radius */
  margin-bottom: 10px; /* Adjust margin as needed */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.box-containercon {
  padding: 30px; /* Increase padding */
  margin: center; /* Adjust margin */
  min-width: 300px; /* Set minimum width */
}

}

