* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    background-color: #3f51b5; /* Indigo header */
    color: #fff; /* White text */
    padding: 2px 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 2;
  }
  
  .logo img {
    max-width: 50px;
    height: auto;
  }
  
  .college-info {
    margin-left: 10px;
    text-align: left;
    flex-grow: 1;
  }
  
  .college-info h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: #fff; /* White text */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .college-info p {
    font-size: 0.8rem;
    margin-top: 5px;
    color: #ccc; /* Light gray text */
  }
  
  body, html {
    height: 100%; /* Ensure full height of viewport */
  }
  
  body {
    background-image: url('/img/blur_tu.png');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    /* background-color: #f5f5f5; */
    color: #333;
    position: sticky;
  }
  
  .container {
    max-width: 600px;
    margin: auto; /* Center horizontally */
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    padding: 20px 20px; /* Add padding to the top */
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .box-container {
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-box {
    flex: 1;
    margin-right: 10px;
  }
  
  .input-box:last-child {
    margin-right: 0;
  }
  
  .input-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .input-box input[type="text"],
  .input-box input[type="file"] {
    width: calc(100% - 10px);
    height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .input-box input[type="text"]:focus,
  .input-box input[type="file"]:focus {
    border-color: #9b59b6;
  }
  
  .button-container {
    text-align: center;
    justify-content: space-between;
  }
  
  .back-button {
    text-decoration: none;
    background-color: #61c5ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #3bff76;
  }
  